<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action=" home"method="post">
        {% csrf_token%}
        <label for="fname">fame</label>
        <input type="text" name="first_name" placeholder="enter"required><br><br>

        <label for="fname">fame</label>
        <input type="text" name="last_name" placeholder="enter"required><br><br>

        <label for="fname">fame</label>
        <input type="text" name="email" placeholder="enter"required><br><br>

        <label for="fname">fame</label>
        <input type="text" name="age" placeholder="enter"required><br><br>


        <input type="submit" value="submit">
    </form>
</body>
</html>